* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: #56597a;
  font-size: 0.7rem;
}

body {
  line-height: 1.6rem;
  font-family: "Roboto Slab", serif;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

// Utility Classes
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

// Section: Navigation
#main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;

  #logo {
    font-size: 2rem;
    justify-self: left;
    letter-spacing: 0.17rem;
    transition: all 0.3s ease-in;

    span {
      color: #f087b1;
    }

    a {
      color: #56597a;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  ul {
    display: flex;

    li {
      list-style: none;
      transition: all 0.3s ease-in;

      a {
        padding: 0 2rem;
        color: #aaaaab;
        font-weight: 600;
        transition: all 0.3s ease-in;

        &:hover {
          color: #575a7b;
        }
      }

      &:first-child {
        a {
          color: #575a7b;

          &:hover {
            color: #aaaaab;
          }
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// Section: Header
#main-header {
  background: url("../img/showcase.jpg") no-repeat top right/cover;
  height: 100vh;
  position: relative;

  .card {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;

    .item {
      h3 {
        color: #f78bb6;
        font-size: 1.3rem;
        letter-spacing: 0.15rem;
        position: relative;
        padding-left: 4rem;
        margin-bottom: 2rem;

        &::before {
          content: "";
          position: absolute;
          height: 2px;
          left: 0;
          bottom: 5px;
          width: 60px;
          background: #f78bb6;
        }
      }

      h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        color: #56597a;
        margin-bottom: 2rem;
      }

      p {
        color: #9a9ba1;
        font-size: 1.1rem;
        margin-bottom: 2rem;
      }

      .btn {
        display: inline-block;
        background: #f78bb6;
        color: #fff;
        padding: 0.5rem 1.5rem;
        border-radius: 20px;
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: bold;
        transition: all 0.3s ease-in;

        &:hover {
          background: #56597a;
          color: #f087b1;
          transform: scale(1.1);
        }
      }
    }
  }
}

// Section: Servies
#service {
  padding: 2.5rem 0;
  h4 {
    text-align: center;
    color: #f78bb6;
    font-size: 1rem;
  }

  h2 {
    text-align: center;
    margin: 1.5rem 0;
    color: #56597a;
    font-size: 2.5rem;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;
    margin-top: 6rem;

    .item {
      padding: 0.5rem;
      text-align: center;
      margin-top: 5rem;

      i {
        font-size: 2rem;
        color: #f78bb6;
        margin-bottom: 2rem;
        transition: all 0.3s ease-in;

        &:hover {
          color: #56597a;
          transform: rotate(360deg) scale(1.1);
        }
      }

      h5 {
        font-size: 1rem;
        font-weight: 900;
        letter-spacing: 0.1rem;
        color: #56597a;
        margin-bottom: 0.5rem;
      }

      p {
        color: #9a9ba1;
      }

      &:nth-child(3) {
        background: #f78bb6;
        border-radius: 5px;
        color: #fff;
        margin-top: -0.1rem;
        transition: all 0.3s ease-in;

        i {
          color: #fff;
          margin-top: 5rem;
        }

        h5 {
          color: #fff;
        }

        p {
          color: #fff;
        }

        h6 {
          margin-top: -2.4rem;

          i {
            font-size: 1rem;
          }
        }

        &:hover {
          background: #56597a;
          transform: scale(1.1);
        }
      }
    }
  }
}

// Section: Design
#design {
  padding-top: 6rem;
  margin-bottom: 4rem;

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .item {
      h4 {
        color: #f78bb6;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }

      h2 {
        font-size: 2.8rem;
        line-height: 3rem;
        margin-bottom: 2rem;
        color: #56597a;
      }

      p {
        color: #d9b7ac;
        font-size: 1.1rem;
        margin-bottom: 2rem;
      }

      .btn {
        display: inline-block;
        background: #f78bb6;
        color: #fff;
        padding: 0.5rem 1.5rem;
        border-radius: 20px;
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: bold;
        transition: all 0.3s ease-in;

        &:hover {
          background: #56597a;
          color: #f087b1;
          transform: scale(1.1);
        }
      }
    }
  }
}

// Section: Teamwork
#teamwork {
  margin-top: 6.3rem;
  margin-bottom: 4.4rem;

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .item {
      h4 {
        color: #f78bb6;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }

      h2 {
        font-size: 3rem;
        line-height: 3.3rem;
        margin-bottom: 2rem;
        color: #56597a;
      }

      p {
        color: #d9b7ac;
        font-size: 1.1rem;
        margin-bottom: 2rem;
      }

      .btn {
        display: inline-block;
        background: #f78bb6;
        color: #fff;
        padding: 0.5rem 1.5rem;
        border-radius: 20px;
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: bold;
        transition: all 0.3s ease-in;

        &:hover {
          background: #56597a;
          color: #f087b1;
          transform: scale(1.1);
        }
      }
    }
  }
}

// Section: Testimonial
#testimonial {
  margin-top: 6.3rem;
  margin-bottom: 4.4rem;

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .item {
      img {
        width: 70%;
      }

      h4 {
        color: #f78bb6;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }

      h2 {
        font-size: 3.3rem;
        line-height: 3.8rem;
        margin-bottom: 2rem;
        color: #56597a;
      }

      p {
        color: #56597a;
        margin-bottom: 2rem;
      }

      .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          color: #56597a;
          margin-bottom: 0.5rem;
        }

        p {
          color: #56597a;
        }

        i {
          color: #56597a;
        }
      }
    }
  }
}

// Section: Partner
#partner {
  margin: 2rem 0;

  .card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;

    img {
      width: 80%;
    }
  }
}

// Section: Blog
#blog {
  margin-top: 6.3rem;
  margin-bottom: 4.4rem;

  .card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;

    .content {
      padding: 0 5rem;

      h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        color: #56597a;
      }

      p {
        color: #56597a;
        text-align: center;
        margin-bottom: 3rem;
      }

      .form-group {
        display: block;

        input {
          width: 55%;
          padding: 0.5rem 1.5rem;
          border-radius: 20px;
          border: none;
          border: 1px solid #56597a;
          margin-right: 2rem;

          &:focus {
            outline: none;
          }
        }

        button {
          padding: 0.6rem 1.5rem;
          border: none;
          cursor: pointer;
          color: #fff;
          background: #f78bb6;
          font-weight: 800;
          border-radius: 20px;
          transition: all 0.3s ease-in;

          &:focus {
            outline: none;
          }

          &:hover {
            background: #56597a;
          }
        }
      }
    }
  }
}

// Section: Company
#company {
  margin-top: 6.3rem;
  margin-bottom: 4.4rem;

  .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

    .item {
      h3 {
        letter-spacing: 0.1rem;
        font-size: 1.1rem;
        margin-bottom: 2rem;
        color: #56597a;

        span {
          color: #f087b1;
        }
      }

      p {
        color: #56597a;
        margin-bottom: 0.5rem;
      }

      .lead {
        margin-top: 2rem;
      }

      ul {
        display: flex;

        li {
          margin-top: 1rem;
          padding-right: 1rem;
          transition: all 0.3s ease-in;

          a {
            color: #56597a;

            i {
              font-size: 1.5rem;
            }
          }

          &:hover {
            color: #56597a;
          }
        }
      }

      .list {
        flex-direction: column;

        li {
          margin-top: 0;
          margin: 0.2rem 0;

          a {
            color: #56597a;
            letter-spacing: 0.07rem;
            transition: all 0.3s ease-in;

            &:hover {
              color: #56597a !important;
            }
          }
        }
      }
    }
  }
}
