* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #56597a;
  font-size: 0.7rem;
}

:-ms-input-placeholder {
  color: #56597a;
  font-size: 0.7rem;
}

::-ms-input-placeholder {
  color: #56597a;
  font-size: 0.7rem;
}

::placeholder {
  color: #56597a;
  font-size: 0.7rem;
}

body {
  line-height: 1.6rem;
  font-family: "Roboto Slab", serif;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

#main-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

#main-navbar #logo {
  font-size: 2rem;
  -ms-grid-column-align: left;
      justify-self: left;
  letter-spacing: 0.17rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#main-navbar #logo span {
  color: #f087b1;
}

#main-navbar #logo a {
  color: #56597a;
}

#main-navbar #logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#main-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-navbar ul li {
  list-style: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#main-navbar ul li a {
  padding: 0 2rem;
  color: #aaaaab;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#main-navbar ul li a:hover {
  color: #575a7b;
}

#main-navbar ul li:first-child a {
  color: #575a7b;
}

#main-navbar ul li:first-child a:hover {
  color: #aaaaab;
}

#main-navbar ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#main-header {
  background: url("../img/showcase.jpg") no-repeat top right/cover;
  height: 100vh;
  position: relative;
}

#main-header .card {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#main-header .card .item h3 {
  color: #f78bb6;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
  position: relative;
  padding-left: 4rem;
  margin-bottom: 2rem;
}

#main-header .card .item h3::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 5px;
  width: 60px;
  background: #f78bb6;
}

#main-header .card .item h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  color: #56597a;
  margin-bottom: 2rem;
}

#main-header .card .item p {
  color: #9a9ba1;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

#main-header .card .item .btn {
  display: inline-block;
  background: #f78bb6;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#main-header .card .item .btn:hover {
  background: #56597a;
  color: #f087b1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#service {
  padding: 2.5rem 0;
}

#service h4 {
  text-align: center;
  color: #f78bb6;
  font-size: 1rem;
}

#service h2 {
  text-align: center;
  margin: 1.5rem 0;
  color: #56597a;
  font-size: 2.5rem;
}

#service .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.2rem;
  margin-top: 6rem;
}

#service .card .item {
  padding: 0.5rem;
  text-align: center;
  margin-top: 5rem;
}

#service .card .item i {
  font-size: 2rem;
  color: #f78bb6;
  margin-bottom: 2rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#service .card .item i:hover {
  color: #56597a;
  -webkit-transform: rotate(360deg) scale(1.1);
          transform: rotate(360deg) scale(1.1);
}

#service .card .item h5 {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: #56597a;
  margin-bottom: 0.5rem;
}

#service .card .item p {
  color: #9a9ba1;
}

#service .card .item:nth-child(3) {
  background: #f78bb6;
  border-radius: 5px;
  color: #fff;
  margin-top: -0.1rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#service .card .item:nth-child(3) i {
  color: #fff;
  margin-top: 5rem;
}

#service .card .item:nth-child(3) h5 {
  color: #fff;
}

#service .card .item:nth-child(3) p {
  color: #fff;
}

#service .card .item:nth-child(3) h6 {
  margin-top: -2.4rem;
}

#service .card .item:nth-child(3) h6 i {
  font-size: 1rem;
}

#service .card .item:nth-child(3):hover {
  background: #56597a;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#design {
  padding-top: 6rem;
  margin-bottom: 4rem;
}

#design .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#design .card .item h4 {
  color: #f78bb6;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

#design .card .item h2 {
  font-size: 2.8rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  color: #56597a;
}

#design .card .item p {
  color: #d9b7ac;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

#design .card .item .btn {
  display: inline-block;
  background: #f78bb6;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#design .card .item .btn:hover {
  background: #56597a;
  color: #f087b1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#teamwork {
  margin-top: 6.3rem;
  margin-bottom: 4.4rem;
}

#teamwork .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#teamwork .card .item h4 {
  color: #f78bb6;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

#teamwork .card .item h2 {
  font-size: 3rem;
  line-height: 3.3rem;
  margin-bottom: 2rem;
  color: #56597a;
}

#teamwork .card .item p {
  color: #d9b7ac;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

#teamwork .card .item .btn {
  display: inline-block;
  background: #f78bb6;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#teamwork .card .item .btn:hover {
  background: #56597a;
  color: #f087b1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#testimonial {
  margin-top: 6.3rem;
  margin-bottom: 4.4rem;
}

#testimonial .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#testimonial .card .item img {
  width: 70%;
}

#testimonial .card .item h4 {
  color: #f78bb6;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

#testimonial .card .item h2 {
  font-size: 3.3rem;
  line-height: 3.8rem;
  margin-bottom: 2rem;
  color: #56597a;
}

#testimonial .card .item p {
  color: #56597a;
  margin-bottom: 2rem;
}

#testimonial .card .item .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonial .card .item .wrap h4 {
  color: #56597a;
  margin-bottom: 0.5rem;
}

#testimonial .card .item .wrap p {
  color: #56597a;
}

#testimonial .card .item .wrap i {
  color: #56597a;
}

#partner {
  margin: 2rem 0;
}

#partner .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2rem;
}

#partner .card img {
  width: 80%;
}

#blog {
  margin-top: 6.3rem;
  margin-bottom: 4.4rem;
}

#blog .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
}

#blog .card .content {
  padding: 0 5rem;
}

#blog .card .content h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #56597a;
}

#blog .card .content p {
  color: #56597a;
  text-align: center;
  margin-bottom: 3rem;
}

#blog .card .content .form-group {
  display: block;
}

#blog .card .content .form-group input {
  width: 55%;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  border: none;
  border: 1px solid #56597a;
  margin-right: 2rem;
}

#blog .card .content .form-group input:focus {
  outline: none;
}

#blog .card .content .form-group button {
  padding: 0.6rem 1.5rem;
  border: none;
  cursor: pointer;
  color: #fff;
  background: #f78bb6;
  font-weight: 800;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#blog .card .content .form-group button:focus {
  outline: none;
}

#blog .card .content .form-group button:hover {
  background: #56597a;
}

#company {
  margin-top: 6.3rem;
  margin-bottom: 4.4rem;
}

#company .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

#company .card .item h3 {
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #56597a;
}

#company .card .item h3 span {
  color: #f087b1;
}

#company .card .item p {
  color: #56597a;
  margin-bottom: 0.5rem;
}

#company .card .item .lead {
  margin-top: 2rem;
}

#company .card .item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#company .card .item ul li {
  margin-top: 1rem;
  padding-right: 1rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#company .card .item ul li a {
  color: #56597a;
}

#company .card .item ul li a i {
  font-size: 1.5rem;
}

#company .card .item ul li:hover {
  color: #56597a;
}

#company .card .item .list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#company .card .item .list li {
  margin-top: 0;
  margin: 0.2rem 0;
}

#company .card .item .list li a {
  color: #56597a;
  letter-spacing: 0.07rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#company .card .item .list li a:hover {
  color: #56597a !important;
}
/*# sourceMappingURL=styles.css.map */