* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6rem;
  font-family: "Roboto Slab", serif;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

// Utility Classes
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

// Section: Navigation
#main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;

  #logo {
    font-size: 2rem;
    justify-self: left;
    letter-spacing: 0.17rem;
    transition: all 0.3s ease-in;

    span {
      color: #f087b1;
    }

    a {
      color: #56597a;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  ul {
    display: flex;

    li {
      list-style: none;
      transition: all 0.3s ease-in;

      a {
        padding: 0 2rem;
        color: #aaaaab;
        font-weight: 600;
        transition: all 0.3s ease-in;

        &:hover {
          color: #575a7b;
        }
      }

      &:first-child {
        a {
          color: #575a7b;

          &:hover {
            color: #aaaaab;
          }
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// Section: Header
#main-header {
  background: url("../img/showcase.jpg") no-repeat top right/cover;
  height: 100vh;
  position: relative;

  .card {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;

    .item {
      h3 {
        color: #f78bb6;
        font-size: 1.3rem;
        letter-spacing: 0.15rem;
        position: relative;
        padding-left: 4rem;
        margin-bottom: 2rem;

        &::before {
          content: "";
          position: absolute;
          height: 2px;
          left: 0;
          bottom: 5px;
          width: 60px;
          background: #f78bb6;
        }
      }

      h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        color: #56597a;
        margin-bottom: 2rem;
      }

      p {
        color: #9a9ba1;
        font-size: 1.1rem;
        margin-bottom: 2rem;
      }

      .btn {
        display: inline-block;
        background: #f78bb6;
        color: #fff;
        padding: 0.5rem 1.5rem;
        border-radius: 20px;
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: bold;
        transition: all 0.3s ease-in;

        &:hover {
          background: #56597a;
          color: #f087b1;
          transform: scale(1.1);
        }
      }
    }
  }
}
